/* Task.css */

.task-container {
  margin-bottom: 10px; /* отступ между тасками */
}

.task {
  background-color: #f5f5f5; /* светлый фон */
  border-radius: 8px;        /* скругленные углы */
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* лёгкая тень */
  transition: transform 0.2s, box-shadow 0.2s; /* плавная анимация при наведении */
}

.task:hover {
  transform: translateY(-2px);          /* приподнимаем */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* усиленная тень */
}

.task li {
  list-style: none;  /* убираем маркеры */
  margin: 5px 0;     /* отступы между заголовком и описанием */
  word-wrap: break-word; /* перенос слов, если длинные */
}

.task li:first-child {
  font-weight: bold; /* делаем заголовок жирным */
  font-size: 14px;
}

.task li:last-child {
  font-size: 12px;
  color: #555; /* серый текст для описания */
}

.task h5 {
  
  padding: 10px;          /* внутренние отступы */

  background: #0d6929;
  color: #ffffff;
  border-radius: 8px 8px 0 0;  /* скругление только сверху */
  width: 100%;            /* растянуть по всей ширине колонки */
  box-sizing: border-box; /* чтобы padding учитывался внутри ширины */
}
