/* Task.css */

.task-container {
  margin-bottom: 10px; /* отступ между тасками */
}





.task li {
  list-style: none;  /* убираем маркеры */
  margin: 5px 0;     /* отступы между заголовком и описанием */
  word-wrap: break-word; /* перенос слов, если длинные */
}

.task li:first-child {
  font-weight: bold; /* делаем заголовок жирным */
  font-size: 14px;
}

.task li:last-child {
  font-size: 12px;
  color: #555; /* серый текст для описания */
}

.task {
  
  padding: 10px;          /* внутренние отступы */
  display: flex;
  justify-content: space-between;
  background: #0d6929;
  color: #ffffff;
  border-radius: 8px 8px 0 0;  /* скругление только сверху */
  width: 100%;            /* растянуть по всей ширине колонки */
  box-sizing: border-box; /* чтобы padding учитывался внутри ширины */
  cursor: grab;
}
.task:active {
  cursor: grabbing; /* курсор "хватка" при захвате */
}