{% extends 'base.html' %}
{% load static %}
{% block profile %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block content %}
<main class="login-register">
    <div class="inner">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo.svg' %}" alt="Логотип" class="logo">
        </a>
        <h2>Вход</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <input type="submit" value="Login">
        </form>
        <a href="{%url 'register' %}">Зарегистрироваться</a>
    </div>
</main>
{% endblock %}
