{% extends 'base.html' %}
{% load static %}
{% block profile %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}
{% block content %}


<main class="profile">

    <div class="container-prof">
        <div class="profile-field profile-left">
            <div class="profile-window">
                <h1>{{ profile.user.username }}</h1>
                <img src="{{ profile.avatar.url }}" alt="Аватар">

            </div>
        </div>

        <div class="profile-field">
            <div class="container-prof">
                <form action="{%url 'edit-profile'%}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {% for field in form %}
                    <div class="form-edit">
                        <label for="formInput#text">{{ field.label }}: </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" value="submit" class="btn edit">

                </form>

            </div>

        </div>
    </div>


</main>




{% endblock %}

