{% extends 'base.html' %}
{% load static %}
{% block profile %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}
{% block content %}
<main class="profile">

    <div class="container-prof">
        <div class="profile-left">
            <div class="profile-window">
                <h1>{{ profile.user.username }}</h1>
                <img src="{{ profile.avatar.url }}" alt="Аватар">
                <a href="{%url 'edit-profile'%}" class="btn edit">Редактировать профиль</a>
            </div>
            <div class="profile-info">
                <h1>Мой профиль</h1>
                <p><span class="label"> Имя пользователя:</span> {{ profile.user.username }}</p>
                <p><span class="label">Имя:</span> {{ profile.first_name }}</p>
                <p><span class="label">Фамилия:</span> {{ profile.last_name }}</p>
                <p><span class="label">Email:</span> {{ profile.email }}</p>
                <p><span class="label">О себе:</span> {{ profile.bio }}</p>
                <p>Ссылка соцсети: {{ profile.social_media_link }}</p>
            </div>
        </div>


        <div class="profile-right">
            <table class="icon-table">
                <tr>
                    <td><a href="{%url 'inbox'%}"><img src="{% static 'images/post.svg' %}" alt=""
                                                       class="icon"></a></td>
                    <td><a href="{%url 'my-boards'%}"><img src="{% static 'images/kanban.svg' %}" class="icon"></a></td>
                    <td><a href="{%url 'archive'%}"><img src="{% static 'images/archive.svg' %}" class="icon"></a></td>
                    <td><a href="{%url 'search-profile'%}"><img src="{% static 'images/search_green.svg' %}" class="icon"></a></td>
                </tr>
                <tr>
                    <td><a href="#"><img src="{% static 'images/post-icon.svg' %}" alt="" class="icon"></a></td>
                    <td><a href="#"><img src="{% static 'images/post-icon.svg' %}" alt="" class="icon"></a></td>
                    <td><a href="#"><img src="{% static 'images/post-icon.svg' %}" alt="" class="icon"></a></td>
                    <td><a href="#"><img src="{% static 'images/post-icon.svg' %}" class="icon"></a></td>
                </tr>
            </table>
<!--            <div class="boards">-->
<!--                <h2>Мои доски</h2>-->
<!--                {% for board in boards %}-->
<!--                <div class="board-container">-->
<!--                    <a href="{% url 'boards-page' board.id %}" class="board">{{board.title}}</a>-->
<!--                    <div class="board">{{board.created}}</div>-->
<!--                    <form method="post" action="{% url 'delete_board' board.id %}" style="display:inline;" class="delete-board">-->
<!--                        {% csrf_token %}-->
<!--                        <button type="submit" class="delete-message">x</button>-->
<!--                    </form>-->
<!--                </div>-->

<!--                {% endfor %}-->
<!--            </div>-->
        </div>
    </div>


</main>


{% endblock %}

