<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon"/>
    <!-- Общие стили -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    <title>Шишка</title>
</head>

<body>
<!-- Header / Navigation -->
<header class="site-header">
    <div class="container">
        <!-- Логотип -->
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo.svg' %}" alt="Shishka Logo"/>
        </a>

        <!-- Навигация -->
        <nav class="main-nav">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Boards</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Users</a></li>
            </ul>
        </nav>

        <!-- Пользователь -->
        <div class="user-menu">
            {% if request.user.is_authenticated %}
            <div class="user-info">
                <a href="{% url 'profile' %}" class="user-link">
                    {% if request.user.profile.avatar %}
                    <img src="{{ request.user.profile.avatar.url }}" alt="{{ request.user.username }}" class="avatar"/>
                    {% else %}
                    <img src="{% static 'images/user.png' %}" alt="{{ request.user.username }}" class="avatar"/>
                    {% endif %}
                    <span class="username">{{ request.user.username }}</span>
                </a>
                <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="login-btn">Login/Sign Up</a>
            {% endif %}
        </div>

    </div>
</header>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="message {{ message.tags }}">
        <p>{{ message }}</p>
        <button class="alert-close">⨯</button>
    </div>
    {% endfor %}
</div>
{% endif %}


<!-- Main content -->
{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="site-footer">
    <div class="container">
        <p>&copy; 2025 Шишкой по голове.</p>
    </div>
</footer>
</body>
<script src="{% static 'uikit/app.js'%}"></script>


</html>