<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon"/>
    <!-- Общие стили -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    <title>Шишка</title>
</head>

<body>
<!-- Header / Navigation -->
<header class="site-header">
    <div class="container">
        <!-- Логотип -->
        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'images/logo.svg' %}" alt="Shishka Logo"/>
        </a>

        <!-- Навигация -->
        <nav class="main-nav">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Boards</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Users</a></li>
            </ul>
        </nav>

        <!-- Пользователь -->
        <div class="user-menu">
            {% if user.is_authenticated %}
            <span>Hello, {{ user.username }}</span>
            <a href="#">Logout</a>
            {% else %}
            <a href="#">Login</a>
            <a href="#">Sign Up</a>
            {% endif %}
        </div>
    </div>
</header>
<!-- Main content -->
{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="site-footer">
    <div class="container">
        <p>&copy; 2025 Шишкой по голове.</p>
    </div>
</footer>
</body>

</html>